:root {

    --clr-primary-800: hsl(216, 53%, 9%);
    --clr-primary-700: hsl(220, 27%, 13%);
    --clr-primary-600: hsl(217, 28%, 15%);
    --clr-primary-500: hsl(219, 30%, 18%);

    --clr-accent-500: hsl(198, 60%, 50%);
    --clr-accent-400: hsl(176, 68%, 64%);
    --clr-accent-100: hsl(0, 100%, 63%);

    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Raleway', sans-serif;
}